.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #937DC2;
    height: 60px;
}

.Footer p {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width:992px) {
    .Footer p {
        font-size: 10px;
    }
}